.quote {
  font-family: 'Comic Sans MS';
  font-weight: bolder;
  font-size: larger;
  color: #40806a;
}

.heading {
  font-family: 'Comic Sans MS';
  text-align: center;
  font-weight: bolder;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
